.DS_Store
.venv
__pycache__
.ipynb_checkpoints
.metaflow/
metaflow*

# data/runs
*.db
mlruns/
save_data/
save_data_lab2/
images/
models/
wine/
*.npy
*.csv
*.xlsx
*.data
*.names
submission/
*.tex
*.pdf

# keys
*.json